@import "bower_components/bootswatch/cosmo/variables";
@import "bower_components/bootstrap/scss/bootstrap";
@import "bower_components/bootswatch/cosmo/bootswatch";

/* sandstone is also a pretty cool theme, and try darkly if you want the blackness! */

body {
    margin-top: 70px;
    margin-bottom: 50px;
}

a[data-ember-action]:not(:disabled),
.clickable {
    cursor: pointer;
}

.icon {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}

.icon-lg {
    width: 100px;
    height: 100px;
}

.icon-sm {
    width: 20px;
    height: 20px;
}
