{{setup-wizard/step current=stepNumber total=totalSteps title="Create your first organization."}}

{{-form/organization/create organization=account}}

{{#-bs/button "primary" click=(action "save") disabled=(eq isLoading true)}}
  Finish
{{/-bs/button}}

{{#if isLoading}}
  <div class="mt-3">
    <small class="text-muted">Creating account...</small>
    {{#-bs/progress}}
      {{-bs/progress/bar value=100 animated=true}}
    {{/-bs/progress}}
  </div>
{{/if}}

{{#if error}}
  <div class="alert-danger alert mt-3 mb-0" role="alert"><strong>Oops!</strong> {{error.message}}</div>
{{/if}}
