{{#-bs/row class="justify-content-center"}}
  {{#-bs/col sm=12 md=10 lg=8}}
    <h2>
      <img src="{{organization.photoURL}}" class="icon icon-lg mr-4" alt={{organization.name}}>
      {{organization.name}}
    </h2>

  {{/-bs/col}}
{{/-bs/row}}

<hr>
