<div class="form-group">
  <label for={{inputId}}>{{label}}</label>
  {{input id=inputId name="password" class="form-control" type=type value=value disabled=disabled placeholder=placeholder}}

  <label class="custom-control custom-checkbox mb-0">
    {{input type="checkbox" change=(action 'toggle') class="custom-control-input"}}
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Show Password</span>
  </label>
</div>
