
<div class="form-group">
  <label for="update.org.name">Organization Name</label>
  {{input id="update.org.name" class="form-control" type="text" value=organization.name disabled=isLoading}}
  <small id="update.org.name.help" class="form-text text-muted">An organization could be a company, a division, or any logical means by which you'd like to seperate your data.</small>
</div>
