{{#-bs/row class="justify-content-center"}}
  {{#-bs/col sm=12 md=10 lg=8}}
    <h2><img src={{userManager.currentUser.photoURL}} class='avatar' alt="avatar" width=100 height=100>&nbsp;{{userManager.currentUser.firstName}} {{userManager.currentUser.lastName}}</h2>
    
  {{/-bs/col}}
{{/-bs/row}}
<hr>

{{outlet}}